body {
  display: flex;
  justify-content: center;
  font-family: 'Arial Nova';
  font-style: normal;
  background: #7A7A7A;
  margin: 0;
  padding: 0;
}

a {
  text-decoration:none;
}

.container {
  max-width: 1600px;
  background: #E4E4E4;
}

.white {
  background-color: #FFFFFF;
  height: 500px;
  margin-top: -288px;
}

input[type="radio"] {
  display: none;
}

.star-rating {
  display: flex;
}

.star:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 744px;
  }

  .white {
    display: none;
  }
}