.guarant-card {
  width: 350px;
  margin-bottom: 65px;
}
.guarant-card__title {
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #2C2C2C;
  width: 170px;
}

@media screen and (max-width: 768px) {
  .guarant-card {
    width: 300px;
  }
}